# uv
.venv/
.uv/

# Python
__pycache__/
*.py[cod]
*.pyo
.python-version

# Build / distribution
build/
dist/
*.egg-info/

# Testing / tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store

*.pcapng
